@import url(../../common.css);

/* 모든 페이지에 적용될 태그같은걸 여기에 만들고 링크 첨부하면 동일하게 적용 가능 */

  /* body {
  width: 900px;
  height: 600px;
  background: gray;
}  */

/* #wrapper {
width: 600px;
height: 600px;
background: darkgray;
}

strong {
color: white;
font-size: 50px;
font-weight: bold;

}

h1 {
width: 600px;
height: 20%;
color: rgb(179, 179, 57);
background: rgb(28, 60, 82);
font-size: 20px;
font-weight: bold;
padding: 20px;
text-align: center;

}

span {
font-size: 30px;
font-weight: bold;
}

em {
  font-size: 38px;
  color: lightgrey;
  font-weight: bold;
}

.content {
  width: 400;
  background: white;
  float: right;

}
h2 {
  width: 80%;
  height: px;
  color: yellow;
  font-size: 20px;
  font-family: '궁서', sans-serif;
  font-weight: bold;
  background: darkred;
  padding: 10px;
  float: right;
} */
/* .hodo {
  width: 80%;
  font-size: 15px;

} */
/* .menu {
  width: 10%;
  height: 100%;
  text-decoration: underline;

} */

/* base style */

body {
  background: gray;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  font-family: '굴림', serif;
}
#wrapper {
  width: 50%;
  margin: 0 auto;
}

/* header style */
header {
  background: #123456;
  padding: 10px;
  color: white;
}

header h1 {
font-size: 30px;
font-weight: 700;
color: #cc0;
text-align: center;
font-family: '굴림', serif;

}

header h1 strong {
  font-size: 3em;
  color: white;
}

header h1 span {
  font-size: 1.5em;
}

header h1 em {
  font-size: 2em;
  color: #ccc;
}

/* container style */

.container {
  background: #ccc;

}
.container .menu {
  float: left;
  width: 20%;
  padding: 20px;

}

.container .menu li {
  margin-bottom: 8px;
  text-decoration: underline;
}

.container .menu li a:hover {
  color: #662;
  border-bottom: 1px dashed #662;
  
}

.container .content {
  background: #fff;
  float: right;
  width: 80%;

}
 .container .content h2 {
  background: #800;
  color: #ee0;
  font-size: 25px;
  font-weight: 700;
padding: 5px 20px ;
font-family: '궁서', cursive;
 }

.container .container p {
  padding: 20px;
  text-align: justify;

}
/* footer style */
footer {
  background: #aaa;
  padding: 10px 20px;

}
footer address {
  color: #000;
}
